@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.bluespotlight{
    background: radial-gradient(ellipse at top left, #0D0D0D 5%, #FF6B00 95%);

}
.strict{
     font-family: "Roboto Condensed", sans-serif;
}
.sans{
     font-family: "Open Sans", sans-serif;
}
.mono{
      font-family: "Libertinus Mono", monospace;
}
.outfit{
     font-family:"Outfit", sans-serif;
}
.animate-slow{
     animation: spin 5s linear infinite;
}